
body {
  background-color: #F3ECE2;
}

#board {
  margin: auto;
  margin-top: 20px;
  display: flex;
  width: auto;
  justify-content: center;
}

#grid {
  margin-left: 20px;
  border: 3px solid #64382B;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* flex-wrap: wrap; */
  box-sizing: border-box;
}

.sudoku-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid #64382B;
  box-sizing: border-box;
}

.sudoku-cell {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* width: 50px;
  height: 50px; */
  border: 1px solid #64382B;
  box-sizing: border-box;
  color: #64382B;
  /* font-size: 2rem; */
  /* font-size: 4vw; */
  cursor: pointer;
  vertical-align: center;
}

.sudoku-box:nth-of-type(3n - 1) {
  border-left: 1.5px solid #64382B;
  border-right: 1.5px solid #64382B;
}

.sudoku-box:nth-of-type(3n - 2) {
  border-left: 1.5px solid #64382B;
  border-right: 1.5px solid #64382B;
}
.sudoku-box:nth-of-type(3n) {

  border-left: 1.5px solid #64382B;
  border-right: 1.5px solid #64382B;
}

.sudoku-cell:nth-of-type(3n) {
  border-right: 0;
}

.sudoku-cell:nth-of-type(3n + 1) {
  border-left: 0;
}

.sudoku-cell-possibilities {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  z-index: 10;
  /* font-size: 4vw; */
}

.selected {
  background-color: #a48264;
}

.selected.given {
  background-color: #b49274;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.given {
  color: #555555;
}

#number-panel {
  display: grid;
  margin-left: 20px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid #64382B;
  box-sizing: border-box;
}

.number-button {
  border: 2px solid #64382B;
  border-bottom: 0;
  color: #64382B;
  /* font-size: 4vw; */
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.number-button:last-of-type {
  border-bottom: 2px solid #64382B;
}
